<div class="col-md-12 members-cntr">
  <div class="row">
    <div class="col-sm-4">
      <input class="form-control" type="text" ng-model="search.name" ng-keydown="reset()" placeholder="Filter by Name">
    </div>

    <div class="col-sm-4">
      <select class="form-control btn btn-primary dropdown-toggle" ng-model="search.state">
        <option value=""><a href="#">Filter by State</a></option>
        <option ng-repeat="state in states" value="{{state}}"><a href="#">{{state}}</a></option>
      </select>
    </div>

    <div class="col-sm-4">
      <div class="btn-group">
        <label class="btn btn-success" ng-model="search.limit" btn-radio="10">10</label>
        <label class="btn btn-success" ng-model="search.limit" btn-radio="20">20</label>
        <label class="btn btn-success" ng-model="search.limit" btn-radio="50">50</label>
      </div>
    </div>
  </div>

  <ol start="{{((search.currentPage-1) * search.limit) + 1}}">
    <li ng-repeat="member in filteredMembers = (members | filter:{state: search.state} | filter:byName | orderBy: 'last_name') | offset:(search.currentPage-1)*search.limit | limitTo:search.limit">
      <member-details />
    </li>
  </ol>

  <pagination total-items="filteredMembers.length" items-per-page="search.limit" ng-model="search.currentPage" ng-change="pageChanged()"></pagination>
</div>
